body {
    margin: 0;
    font-family: Poppins;
}

a, li {
    color: rgb(250, 168, 114);
    text-decoration: none;
}

h4, h2 {
    margin: 0;
}

input, button {
    border: none;
}



.agora {
    font-weight: bold;
}

.header {
    background-color: black;
    border-bottom: 4px solid blue;
}

.headContainer {
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.headContainer .titulo {
    color: rgb(17, 156, 255);
}

.navbar {
    display: flex;
    gap: 40px;

    list-style: none;
}


.simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
    height: 68vh;

    padding: 50px 0px;

    color: white;

    background-image: url("../assets/imgs/bg-jelly-fish-para_outras_pags.png");
}

.simulador .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 80px;
}


.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 108px;

    background-color: rgb(93, 187, 231);
    color: white;
}